wxpython 
requests

pandas 
numpy
scipy

networkx
matplotlib

openai
torch
transformers
nltk
langchain

bs4
tdqm
PyPDF2

streamlit
streamlit_antd_components
streamlit_ace
streamlit_calendar
markdown2
markdown-checklist

python-dotenv
faiss-cpu
altair
tiktoken
