pandas 
numpy
networkx
matplotlib
scipy
torch
transformers
nltk
requests
bs4
wxpython 
markdown2
tdqm
markdown-checklist
openai
streamlit
langchain
PyPDF2
python-dotenv
streamlit
openai
faiss-cpu
altair
tiktoken
streamlit_antd_components
streamlit_ace
streamlit_calendar